# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# data
data/*.*
originaldatafiles/*.*

# old scripts for reference
dataprep/old/*.*
dataprep/errorchecking/*.*
associationfunctions/old/*.*

# local plots and scratch
plots/*.*
scratch/*.*

# RStudio files
.Rproj.user/

# MacOS files
.DS_Store
.Rproj.user
