# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# data
data/*

# old scripts for reference
dataprep/old/*.*
dataprep/errorchecking/*.*
associationfunctions/old/*.*

# local plots and scratch
plots/*.*
scratch/*.*

# RStudio files
.Rproj.user/
.Rproj.user
.Rproj

# MacOS files
.DS_Store

