# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# data
data/*.*
originaldatafiles/*.*

# old scripts for reference
dataprep/old/*.*
dataprep/errorchecking/*.*

# RStudio files
.Rproj.user/

# MacOS files
.DS_Store
